﻿
@(Html.Kendo().Grid<Library.BLL.Models.BookViewModel>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(c => c.Author);
          columns.Bound(c => c.Name);
          columns.Bound(c => c.DateFrom);
          columns.Bound(c => c.Genre);
          columns.Bound(c => c.Price);
          if (User.IsInRole("admin"))
          {
              columns.Command(command => { command.Edit(); command.Destroy(); }).Width(180);
          }
      })
      .HtmlAttributes(new { style = "height: 660px;" })
      .ToolBar(toolbar => {
          if (User.IsInRole("admin"))
          {
              toolbar.Create();
          }
          toolbar.Excel();
          toolbar.Pdf();
      })
      .ColumnMenu()
      .Editable(editable => editable.Mode(GridEditMode.PopUp))
      .Pageable()
      .Navigatable()
      .Selectable(selectable => {
          selectable.Mode(GridSelectionMode.Single);
          selectable.Type(GridSelectionType.Row);
      })
      .Sortable(sortable => {
          sortable.SortMode(GridSortMode.SingleColumn);
      })
      .Filterable()
      .Scrollable()
      .Events(events => {
          events.Save("onSave");
      })
      .DataSource(dataSource => dataSource
          .Ajax()
          .Model(model => model.Id(p => p.Id))
          .Read(read => read.Action("Books_Read", "BooksGrid"))
          .Create(create => create.Action("Books_Create", "BooksGrid"))
          .Update(update => update.Action("Books_Update", "BooksGrid"))
          .Destroy(destroy => destroy.Action("Books_Destroy", "BooksGrid"))
      )
)

<script>

    function onSave(e){
        //Implement the event handler for Save
    }

</script>
