﻿
<div id="grid"></div>
<script>
    $("#grid").kendoGrid({
        toolbar: ["excel", "pdf"],
        dataSource: {
            pageSize: 10,
            type: "aspnetmvc-ajax",
            transport: {
                read: {
                    url: "StoreJs/ViewModels_Read",
                    type: "post",
                    dataType: "json"
                },
            },
            schema: {
                data: "Data",
                total: "Total",
                model: {
                    id: "Id",
                    fields: {
                        Id: { type: "number" },
                        Name: { type: "string" },
                        DateFrom: { type: "date" },
                        Theme: { type: "string" },
                        Price: { type: "number" },
                        TypeProduct: { type: "string" }
                    }
                }
            },
            serverPaging: true,
            serverSorting: true,
            serverSorting: true,
        },
        columnMenu: true,
        pageable: {
            refresh: true,
            pageSizes: true
        },
        navigatable: true,
        selectable: "single row",
        sortable: {
            mode: "single"
        },
        filterable: true,
        scrollable: true,
        columns: [
            //{
            //    field: "Id",
            //    title: "Id",
            //},
            {
                field: "Name",
                title: "Name ",
            attributes: { style: "text-align: center;" }
            },
        {
            field: "DateFrom",
            title: "Date From",
            template: '#= kendo.toString(DateFrom,\"dd MMM yy\") #',
            attributes: { style: "text-align: center;" }
        },
        {
            field: "Theme",
            title: "Theme Product",
            attributes: { style: "text-align: center;" }
        },
        {
            field: "Price",
            title: "Price",
            format: "{0:c2}" ,
            attributes: { style: "text-align: center;" }
        },
        {
            field: "TypeProduct",
            title: "Type Product",
            attributes: { style: "text-align: center;" }
        }
        ]
    })
</script>
