﻿@model Library.Models.LoginModel

@{
  ViewBag.Title = "Login";
}
<h2>Вход на сайт</h2>


@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div>
    @Html.ValidationSummary()
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    <p>
        <label>Email</label><br />
        @Html.EditorFor(x => x.Email)
    </p>
    <p>
        <label>Пароль</label><br />
        @Html.EditorFor(x => x.Password)
    </p>
    <p><button type="submit">Войти</button></p>
</div>
}